{% extends "base.html"%}

{% block cuerpo %}
<div class="row">

    <div class="col-md-4 offset-md-4">
<!-- la tarjeta card -->
<div class="card">
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda-->
    <h1>Provedor</h1>
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/editarProvedor/" method="POST"> {% csrf_token %} <!-- formulario-->

                <div class="form-roup">
                    <input type="text" id="txtid_provedor" name="txtid_provedor" class="form-control"
                    value="{{misprovedores.id_provedor}}"  maxLenght="6" readonly required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                    value="{{misprovedores.nombre}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="txttipoproducto" name="txttipoproducto" class="form-control"
                    value="{{misprovedores.tipo_de_producto}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                    value="{{misprovedores.direccion}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-2">
                    <input type="number" id="txttelefono" name="txttelefono" class="form-control"
                    value="{{misempleados.telefono}}" min="1" max="9" required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="txtcorreo" name="txtcorreo" class="form-control"
                    value="{{misprovedores.correo}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-2">
                    <input type="number" id="txtcant_paquetes" name="txtcant_paquetes" class="form-control"
                    value="{{misprovedores.cant_paquetes}}" min="1" max="9" required>
                </div>

                <div class="form-roup py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form><!-- formulario-->
        </div>
    </div>

<!-- la tarjeta card -->
    </div><!--columna-->

</div><!--la fila-->
{% endblock %}