{% extends "base.html"%}

{% block cuerpo %}
<div class="row">

    <div class="col-md-4 offset-md-4">
<!-- la tarjeta card -->
<div class="card">
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda-->
    <h1>Clientes</h1>
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/editarCliente/" method="POST"> {% csrf_token %} <!-- formulario-->

                <div class="form-roup">
                    <input type="text" id="username" name="txtid_cliente" class="form-control"
                    value="{{misclientes.id_cliente}}"  maxLenght="6" readonly required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="username" name="txtnombre" class="form-control"
                    value="{{misclientes.nombre}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-2">
                    <input type="date" id="numcredito" name="txtfecha_nac" class="form-control"
                    value="{{misclientes.fecha_nac}}" min="1" max="9" required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="username" name="txtdireccion" class="form-control"
                    value="{{misclientes.direccion}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-2">
                    <input type="text" id="numcredito" name="numtelefono" class="form-control"
                    value="{{misclientes.telefono}}" min="1" max="9" required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="username" name="txtcorreo" class="form-control"
                    value="{{misclientes.correo}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form><!-- formulario-->
        </div>
    </div>

<!-- la tarjeta card -->
    </div><!--columna-->

</div><!--la fila-->
{% endblock %}