{% extends "base.html"%}

{% block cuerpo %}
<div class="row">

    <div class="col-md-4 offset-md-4">
<!-- la tarjeta card -->
<div class="card">
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda-->
    <h1>Productos</h1>
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/editarProducto/" method="POST"> {% csrf_token %} <!-- formulario-->

                <div class="form-roup">
                    <input type="text" id="username" name="txtid_producto" class="form-control"
                    value="{{misproductos.id_producto}}"  maxLenght="6" readonly required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="username" name="txtnombre" class="form-control"
                    value="{{misproductos.nombre}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="username" name="txttipo" class="form-control"
                    value="{{misproductos.tipo}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-2">
                    <input type="text" id="numcredito" name="numprecio" class="form-control"
                    value="{{misproductos.precio}}" min="1" max="9" required>
                </div>

                <div class="form-roup py-3">
                    <input type="text" id="username" name="txtdescripcion" class="form-control"
                    value="{{misproductos.descripcion}}"  maxLenght="100" required>
                </div>

                <div class="form-roup py-2">
                    <input type="text" id="numcredito" name="numcantidad" class="form-control"
                    value="{{misproductos.cantidad}}" min="1" max="9" required>
                </div>

                <div class="form-roup py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form><!-- formulario-->
        </div>
    </div>

<!-- la tarjeta card -->
    </div><!--columna-->

</div><!--la fila-->
{% endblock %}