{% extends "base.html"%}
{% load static %}
{% block cuerpo  %}
<div class="row"><!-- la fila-->
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!-- columna izquierda-->
    <h1>Empleado</h1>
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/registrarEmpleado/" method="POST"> {% csrf_token %} <!-- formulario-->
                <div class="form-roup">
                    <input type="text" id="txtid_empleado" name="txtid_empleado" class="form-control"
                    placeholder="Id Empleado" minLenght="6" maxLenght="6" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                    placeholder="Nombre Empleado"  maxLenght="100" required>
                </div>
                <div class="form-roup py-2">
                    <input type="date" id="txtfecha_nac" name="txtfecha_nac" class="form-control"
                    value="1"  min="1" max="9" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                    placeholder="Direccion "  maxLenght="100" required>
                </div>
                <div class="form-roup py-3">
                    <input type="text" id="txthorario" name="txthorario" class="form-control"
                    placeholder="Horario"  maxLenght="100" required>
                </div>
                <div class="form-roup py-2">
                    <input type="text" id="numtelefono" name="numtelefono" class="form-control"
                    placeholder="Num telefono"  min="1" max="9" required>
                </div>
                <div class="form-roup py-2">
                    <input type="text" id="txtsegurosocial" name="txtsegurosocial" class="form-control"
                    placeholder="Num seguro social"  min="1" max="9" required>
                </div>
                <div class="form-roup py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form><!-- formulario-->
        </div>
    </div><!-- tarjeta -->
</div><!-- columna izquierda-->

<div class="col-sm-12 col-md-8 col-lg-8 col-xl-4"><!-- columna derecha-->
    <center>
    <img class="w-50" src="{% static 'img/Empleado.jpg' %}" width="400" height="400" alt="">
    <h1>Listado Materias</h1>
    <cnter>
<div class="table-responsive"><!-- tabla responsiva-->
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">id_empleado</th>
            <th scope="col">Nombre</th>
            <th scope="col">fecha_nac</th>
            <th colspan ="2">direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Horario</th>
            <th scope="col">Seguro Social</th>
          </tr>
        </thead>
        <tbody>
            {% for m in misempleados %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{m.id_empleado}}</td>
                <td>{{m.nombre}}</td>
                <td>{{m.fecha_nac}}</td>
                <td>{{m.direccion}}</td>
                <td>{{m.telefono}}</td>
                <td>{{m.horario}}</td>
                <td>{{m.numsegurosocial}}</td>
                <td> <a href="seleccionarEmpleado/{{m.id_empleado}}" class="btn btn-warning">Editar</a> </td> 
                <td> <a href="borrarEmpleado/{{m.id_empleado}}" class="btn btn-danger">Borrar</a> </td> 

            </tr>

            {% endfor %}

        </tbody>
      </table>
</div><!-- tabla responsiva-->
</div><!-- columna derecha-->

</div><!-- la fila-->
    {% endblock %}